<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Happy Birthday <%= username %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
    <meta name="msapplication-TileColor" content="#000000">
    <% if(typeof csrfToken != undefined) {%> 
        <meta name="token_id" content="<%= csrfToken %>">  
    <% } %> 
    <% if(typeof page != undefined) {%> 
        <meta name="page" content="<%= page %>">  
    <% } %> 
    <% if(typeof admin_id != undefined) {%> 
        <meta name="admin_document" content="<%= admin_id %>">  
    <% } %>
	<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="/stylesheets/RSPROG-firework-styles.css">

</head>
<body>
<!-- App -->
<div class="container">
	<div class="loading-init">
		<div class="loading-init__header">Loading..</div>
		<div class="loading-init__status"></div>
	</div>
	<div class="stage-container remove">
		<div class="canvas-container">
            <canvas id="trails-canvas"></canvas>
			<canvas id="main-canvas"></canvas>
			<div class="title">
                Happy Birthday <%= username %>
                <br>
                <small style="padding-top:0;padding-bottom:0;">May Allah S.W.T bless you throughout your life</small>
                <br>
                <small style="padding-left: .5rem;padding-right: .5rem;padding-top: 0;">I hope that your birthday is as beautiful and wonderful as you are to my eyes.</small>
                <br>
                <small style="padding-left: .5rem;padding-right: .5rem;padding-top: 0;">Hadiah Lain ada je kalau nak hehe</small>
            </div>
		</div>
	</div>
</div>
<!-- partial -->
  <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/329180/fscreen%401.0.1.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/329180/Stage%400.1.4.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/329180/MyMath.js'></script>
<script  src="/javascripts/user-firework-controller.js"></script>

</body>
</html>
